<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <dataConfiguration >
    <providerMappings>
      <add databaseType="xIR.Framework.Data.DB2Database_xQuant, xIR.Framework.Data, Version=3.1.0.0, 
        Culture=neutral, PublicKeyToken=null"
        name="IBM.Data.DB2" />
    </providerMappings>
  </dataConfiguration>
  <appSettings>
    <add key="MQHost" value="158.222.2.198"/>
    <add key="MQPort" value="1414"/>
    <!--<add key="MQHost" value="158.222.2.81"/>
    <add key="MQPort" value="2414"/>-->
    <add key="MQName" value="XPP_QM"/>
    <add key="AidSysReq" value="Q_AIDSYS_REQ"/>
    <add key="AidSysRes" value="Q_AIDSYS_RES"/>
    <add key="AidSysReqSync" value="Q_AIDSYS_SYNC_REQ"/>
    <add key="AidSysResSync" value="Q_AIDSYS_SYNC_RES"/>
    <!-- begin Aid System-->
    <!--<add key="CoreHost" value="158.222.2.103" />
    <add key="CorePort" value="12912" />-->
    <add key="CoreHost" value="158.222.2.221" />
    <add key="CorePort" value="7000" />
    <add key="PaymentHost" value="158.222.2.110" />
    <add key="PaymentPort" value="19500" />
    <add key="PaymentDownloadHost" value="158.222.2.110" />
    <add key="PaymentDownloadPort" value="19600" />
    <add key="EncryptHost" value="158.222.2.202" />
    <add key="EncryptPort" value="7777" />
    <add key="FingerMarkHost" value="158.222.2.104" />
    <add key="FingerMarkPort" value="15880" />
    
     <add key="DebugLog" value="True"/>
    <add key="ErrorLog" value="True"/>
    <!-- end Aid System-->
    <add key="DebugLog" value="True"/>
    <add key="ErrorLog" value="True"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />    
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString.xeq_app" connectionString="Database=XIR_TRD;User ID=zjyw;Password=zjywxt1;Server=158.222.2.200:60088;ServerType=DB2AIX;" providerName="IBM.Data.DB2"/>
    <add name="ConnectionString.xeq_md" connectionString="Database=XIR_MD;User ID=zjyw;Password=zjywxt1;Server=158.222.2.200:60088;ServerType=DB2AIX;" providerName="IBM.Data.DB2"/>
    <add name="ConnectionString.xeq_trd" connectionString="Database=XIR_TRD;User ID=zjyw;Password=zjywxt1;Server=158.222.2.200:60088;ServerType=DB2AIX;" providerName="IBM.Data.DB2"/>
  </connectionStrings>
</configuration>