<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataConfiguration >
    <providerMappings>
      <add databaseType="xIR.Framework.Data.DB2Database_xQuant, xIR.Framework.Data, Version=3.1.0.0, 
        Culture=neutral, PublicKeyToken=null"
        name="IBM.Data.DB2" />
    </providerMappings>
  </dataConfiguration>
  <appSettings>
    <add key="MQHost" value="158.222.2.198"/>
    <add key="MQPort" value="1414"/>
    <!--<add key="MQHost" value="158.222.2.81"/>
    <add key="MQPort" value="2414"/>-->
    <add key="MQName" value="XPP_QM"/>
    <add key="AidSysReq" value="Q_AIDSYS_REQ"/>
    <add key="AidSysRes" value="Q_AIDSYS_RES"/>
    <add key="AidSysReqSync" value="Q_AIDSYS_SYNC_REQ"/>
    <add key="AidSysResSync" value="Q_AIDSYS_SYNC_RES"/>
    <!-- begin Aid System-->
    <!--<add key="CoreHost" value="158.222.2.103" />
    <add key="CorePort" value="12912" />-->
    <add key="CoreHost" value="158.222.2.221" />
    <add key="CorePort" value="7000" />
    <!--<add key="CoreHost" value="158.222.2.220" />
    <add key="CorePort" value="3100" />-->
    <add key="PaymentHost" value="158.222.2.110" />
    <add key="PaymentPort" value="19500" />
    <add key="PaymentDownloadHost" value="158.222.2.110" />
    <add key="PaymentDownloadPort" value="19600" />
    <add key="EncryptHost" value="158.222.2.202" />
    <add key="EncryptPort" value="7777" />
    <!--<add key="FingerMarkHost" value="158.222.2.104" />
    <add key="FingerMarkPort" value="15880" />-->
    <add key="FingerMarkHost" value="158.222.2.105"/>
    <add key="FingerMarkPort" value="25680"/>

    <!-- end Aid System-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DebugLog" value="True"/>
    <add key="ErrorLog" value="True"/>
    <add key="SyncMQModel" value="False"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString.xeq_app" connectionString="Database=XIR_TRD;User ID=zjyw;Password=zjywxt1;Server=158.222.2.198:60008;ServerType=DB2AIX;" providerName="IBM.Data.DB2"/>
    <add name="ConnectionString.xeq_md" connectionString="Database=XIR_MD;User ID=zjyw;Password=zjywxt1;Server=158.222.2.198:600008;ServerType=DB2AIX;" providerName="IBM.Data.DB2"/>
    <add name="ConnectionString.xeq_trd" connectionString="Database=XIR_TRD;User ID=zjyw;Password=zjywxt1;Server=158.222.2.198:60008;ServerType=DB2AIX;" providerName="IBM.Data.DB2"/>
  </connectionStrings>
 
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AidSysWebServiceSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/AidSysWebService/AidSysWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AidSysWebServiceSoap"
        contract="ServiceReference1.AidSysWebServiceSoap" name="AidSysWebServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <TestService.Properties.Settings>
      <setting name="TestService_AidWebService_Service" serializeAs="String">
        <value>http://localhost/AidWebService/Service.asmx</value>
      </setting>
    </TestService.Properties.Settings>
  </applicationSettings>
</configuration>